* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --grcolor1: #667ee9;
    --grcolor2: #764ba2;
    --textcolor: #3c3c3c;
    --border: #dee4ec;
    --elbg: #f7fafc;
    --brrad: 12px;
    --elpdng: 0 1vw;
}

body {
    display: flex;
    justify-content: center;
    padding: 4vh;
    background: linear-gradient(to right, var(--grcolor1), var(--grcolor2));
}

.interfaceOuterContainer {
    position: relative;
    background-color: white;
    min-height: 80vh;
    width: 40%;
    max-width: 40%;
    border-radius: 30px;
    padding: 4.5vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.headdiv {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modeswitch {
    border: 2px solid var(--border);
    border-radius: 12px;
    background-color: var(--elbg);
    font-size: 1.3rem;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
}

.progresswrap {
    height: 5vh;
    position: relative;
}

.progressandcompletion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 0.8rem;
}

.progresswrap input {
    width: 100%;
    /* pointer-events: none; */
}

.addtasks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addtasks input {
    height: 6vh;
    width: 65%;
    color: var(--textcolor);
    background-color: var(--elbg);
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    padding: var(--elpdng);
    font-size: 1rem;
}

.addtasks input:hover {
    border: 2px solid blue;
}

.addtasks select {
    height: 6.3vh;
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    background-color: var(--elbg);
    color: var(--textcolor);
    padding: var(--elpdng);
    font-size: 1rem;
}

.addtasks button {
    height: 6.3vh;
    width: 10%;
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    background-color: var(--elbg);
    padding: var(--elpdng);
    font-size: 2rem;
    padding-bottom: 5px;
    background: linear-gradient(135deg, var(--grcolor1), var(--grcolor2));
    color: white;
}

.search-box {
    position: relative;
    color: var(--textcolor);
    height: 5.5vh;
    background-color: var(--elbg);
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    padding: var(--elpdng);
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: black;
}

.search-box input {
    padding: var(--elpdng) 0;
    font-size: 15px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: var(--elbg);
    opacity: 0.85;
    height: 100%;
    width: 100%;
}

.addedtasksouter {
    position: relative;
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.filterandsort {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories {
    display: flex;
    min-width: 40%;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.filter {
    height: 5vh;
    padding: 0 2vh;
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    background-color: var(--elbg);
    color: var(--textcolor);
    display: flex;
    align-items: center;
}

.sort {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort span {
    opacity: 0.75;
    font-size: small;
}

.sort select {
    height: 5vh;
    padding: 0 2vh;
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    background-color: var(--elbg);
    color: var(--textcolor);
}

.clearcompleted {
    position: relative;
    color: var(--textcolor);
    height: 5.5vh;
    background-color: var(--elbg);
    border: 2px solid red;
    border-radius: var(--brrad);
    padding: var(--elpdng);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.clearcompleted:hover {
    background-color: rgb(245, 101, 101);
    color: white;
}

.addedtask {
    position: relative;
    min-height: 8vh;
    padding: var(--elpdng);
    border: 2px solid var(--border);
    border-radius: var(--brrad);
    background-color: var(--elbg);
    display: flex;
    gap: 2%;
    align-items: center;
}

.check {
    position: relative;
    height: 30%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check input[type="checkbox"] {
    border: 2px solid var(--border);
    height: 100%;
    width: 100%;
}

.taskandtime {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.task {
    display: flex;
    align-items: center;
}

.timecreated {
    display: flex;
    align-items: center;
    font-size: small;
    opacity: 0.5;
}

.tools {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.tools select {
    height: 4vh;
    /* outline: none; */
    border: 2px solid var(--border);
    border-radius: 7px;
    background-color: var(--elbg);
    color: var(--textcolor);
    padding: var(--elpdng);
    font-size: 1rem;
}

.tools button {
    height: 4vh;
    font-size: large;
    border-radius: 5px;
    border: 2px solid var(--border);
    background-color: var(--elbg);
    color: var(--textcolor);
    padding: 0 0.75vw;
}

.edit i {
    color: #ed8936;
}

.delete i {
    color: #f56565;
}

.addedtask.completed {
    background: #c1ffd7;
    opacity: 0.7;
}

.addedtask.completed .task {
    text-decoration: line-through;
}
